*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: bold;
}
:root{
   --cor0:#1992D4
}


.Icon{
    position: relative;
    top: 5px;
    width: 25px;
    margin-right: 10px;
}
#communities{
    margin-bottom: 50px;
}
#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;   
    padding: 0;
    height: 25vh;
}
aside {
    display: flex;
    grid-area: 1/1/4/1;
    align-items: flex-start;
    background-color: var(--cor0);
    justify-content: center;

}

nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 10px;
    
    
    
}
#Dashboard {
    
   margin-bottom: 20px;
   
}
#DashboardTitle{
    position: relative;
    bottom: 5px;
    font-size: 20px;
 
}
#dashboardIcon {
    width: 40px;
}
header{
    display: grid;
    grid-area: 1/2/1/4;
    box-shadow: 4px -1px 7px 2px;
    align-items: start;
    padding-top: 10px;
    height: 20vh;

}
input{
    width: 40vw;
    border-radius: 10px;
    margin-right: 15vw;
    background-color: #D1D7DE;
    border: none;
    height: 4vh;
}
#little {
    width: 40px;
}
#inputLeft{
    display: flex;
    align-items: center;
    justify-content: center;
}
#magnify{
    position: relative;
    bottom: 1px;
    width: 25px;
    right: 10px;
}
#secondPart{
    display: flex;
    flex-wrap: nowrap;
    margin-left: 10%;
    align-items: center;
}
.githubIcon{
    width: 60px;
}
#myname{
    margin-right: 30%;
}
.myName {
    font-weight:bold;
}
button {
    border: none;
    background-color: var(--cor0);
    color: white;
    width: 90px;
    height: 35px;
    border-radius: 20px;
    transition: 0.3s;
    margin-right: 20px;
}
button:focus{
    border: 1px solid black;
}
main {
    background-color: #D1D7DE;
    padding: 40px;
    gap: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
   
}
main div {
    border-radius: 10px;
}
#left{
    display: grid;
    grid-area: 2/1;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
}
.block {
    display: flex;
    flex-direction: column;
 
    padding: 20px;
    background: white;
    border-left: 10px solid var(--cor0);
    border-radius: 10px;
}
.block div {
    display: flex;
    justify-content: flex-end;
    
}
h4 {
    padding-bottom: 10px;
}
.littleText{
    font-size: 12px;
    color: rgb(100, 99, 99);
}
#Announcements{
    background-color:white;
    padding: 20px;
    margin-bottom: 70px;
}
#Announcements h5{
    padding-top: 20px;
}
#trend{
    padding-bottom: 10px;
}
#people {
    background-color:white;
    padding: 20px;
    margin-bottom: 20px;
}
.person {
    display:flex;
    align-items: center;
    padding: 10px;
}
a{
    text-decoration: none;
    color: white;
}
